<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="box">
        <h1>Create a new expense</h1>
        <form action="/expenses" method="post" class="new-expense-form">
            <label for="title">Tilte:
                <input type="text" placeholder="Enter title" name="title" id="title">
            </label>

            <label for="amount">Amount:
                <input type="number" placeholder="Enter amount" id="amount" name="amount">
            </label>

            <label for="category">Category:
                <select name="category" id="category">
                    <option value="food">Food</option>
                    <option value="Traval">Traval</option>
                    <option value="shopping">Shopping</option>
                    <option value="Bills">Bills</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="health">Health</option>
                    <option value="education">Education</option>
                    <option value="other">other</option>
                </select>
            </label>
            
            <label for="date">Date:
                <input type="date" id="date" name="date">
            </label>

            <button>Submit</button>
        </form>
    </div>
</body>
</html>